@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1{
  color: #929190;
}
.listbox {
  width: 800px;
  padding: 40px;
  position: absolute;
  top: 300px;
  left: 10px;
  background: #eff5e7;
  border: 2px solid #fcb9a3;
  border-radius: 2px;
  text-align: left;
  transition: 0.25s;
  border-radius: 15px;
  margin-left: 30px;
  font-weight: 500;
}
.buttonbox {
  text-align: center;
  transition: 0.25s;
  border-radius: 15px;
}
.inputbox {
  width: 800px;
  padding: 40px;
  position: absolute;
  top: 0px;
  left: 40px;
  background: #ebebe9;
  border: 2px solid #fcb9a3;
  border-radius: 2px;
  text-align: center;
  border-radius: 15px;
  margin-top: 30px;

}

.input {
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #fcb9a3;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  display: inline-block;

}

.input:focus {
  width: 280px;
  border-color: #f8cc4f;
}

.button {
  border: 0;
  background: white;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #f8cc4f;
  padding: 10px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  display: inline-block;

}
.remove {
  border: 0;
  background: white;
  margin: 2px auto;
  text-align: center;
  border: 2px solid #f8cc4f;
  padding: 8px 10px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  display: inline-block;
}

.button:hover,
.remove:hover {
  background: #f8cc4f;
}

.list {
  border: 0;
  background: none;
  display: inline;
  width: 300px;
  margin: 30px auto;
  text-align: center;
  padding: 20px 10px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}

